ipykernel
langchain-openai
langchain-core
langchain
langchain-community
huggingface_hub
langchain-huggingface
transformers
jinja2
pypdf
yt_dlp
pydub
audioop-lts; python_version>='3.13'
beautifulsoup4==4.12.3
sentence-transformers==3.3.1
langchain-chroma==0.1.4
faiss-cpu==1.9.0.post1
lark
scikit-learn
tensorflow
scikit-fuzzy # Alterado de 'skfuzzy' para 'scikit-fuzzy'
matplotlib
pandas
